@font-face {
  font-family: "iconfont"; /* Project id 4390479 */
  src: url('iconfont.woff2?t=1705237980798') format('woff2'),
       url('iconfont.woff?t=1705237980798') format('woff'),
       url('iconfont.ttf?t=1705237980798') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-iconfont:before {
  content: "\e63b";
}

.icon-shangchuanwenjian:before {
  content: "\e621";
}

.icon-wenjianshangchuan:before {
  content: "\e61e";
}

.icon-icon-:before {
  content: "\e727";
}

.icon-folder-upload-fill:before {
  content: "\e6f7";
}

.icon-shezhi:before {
  content: "\e68f";
}

.icon-shiyongwendang:before {
  content: "\eb66";
}

.icon-tounao:before {
  content: "\e697";
}

